################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab2/FileContentIndex/2a30d48b-dbd4-4082-aa6f-53f7fd5feddf.vsidx
/.vs/Lab2/FileContentIndex/628ff2c6-109f-4088-b84e-be9dafbf2e42.vsidx
/.vs/Lab2/FileContentIndex/93974c32-2839-456e-809e-3cd31326f0ff.vsidx
/.vs/Lab2/FileContentIndex/9c8298c9-6bdd-4896-88d0-af86ba0fb7af.vsidx
/.vs/Lab2/FileContentIndex/aa2c242c-413e-4a5b-9f2c-5db25b98d8b1.vsidx
/.vs/Lab2/FileContentIndex/f72ba81f-dd02-4719-a9e9-8aa678806cb5.vsidx
